/* * {
    border : 1px solid;
} */
 .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.main-logo {
    border: 1px solid;
    width: 50px;
    height: 50px;
    background-image: url(https://wallpapercat.com/w/full/b/6/b/920917-1920x1080-desktop-full-hd-logo-ac-milan-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav > a {
    border: 1px solid;
    color: black;
    text-decoration: none;
    padding: 8px;
}

.banner-form {
    display: flex;
    gap: 32px;
}
.banner-img {
    border: 1px solid;
    height: 250px;
    flex : 1;
}

.banner-form form {
    border: 1px solid;
    flex : 1;
}

section {
    text-align: center;
}